@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');
.primary-font {
    font-optical-sizing: auto;
    font-family: "Quicksand", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Important Class */
.fixed-width {
    max-width: 1650px;
    margin: 0 auto;
}
.flex {
    display: flex; 
}
.primary-btn {
    font-size: 1.3rem;
    padding: 10px 60px;
    background-color: #FEA301;
    border: none;
    color: #fff;
    border-radius: 10px;
}
/* Colors */
.orange {
    color: #FEA301;
}
.sky-blue {
    color: #01ACFD;
}
.light-blue {
    color: #05D4DF;
}
.purple {
    color: #5D58EF;
}

.blue-gradient {
    background-image: linear-gradient(to bottom, #DEF5FF, #fff);
}
.orange-gradient {
    background-image: linear-gradient(to bottom, #FFF4DC, #fff);
}
.purple-gradient {
    background-image: linear-gradient(to bottom, #F2E8FF, #fff);
}

/* Nav section */
#nav-section {
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
.nav-logo {
    align-items: center; 
}
.nav-logo h3 {
    font-size: 2rem;
    margin-left: 10px;
}
.nav-menu {
    justify-content: space-around;
    width: 500px;
}
.nav-menu li {
    list-style: none;
}
.nav-menu a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
}
.nav-icon {
    display: none;
}
/* Banner Section */
#banner-section {
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 80px;
}
.banner-text {
    max-width: 640px;
    margin-top: 122px;
}
.banner-text h3 {
    font-size: 3.5rem;
    font-weight: 800;
}
.banner-text p {
    font-size: 1.2rem;
    margin: 20px 0;
}
.banner-text button {
    background-color: #000;
    padding: 10px 50px;
}
/* Curriculum  Section */
.curriculum {
    background-image: url(../assets/bg.png);
}
.curriculum h2 {
    font-size: 2.6rem;
    text-align: center;
    font-weight: 800;
}
.curriculum-cards {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    text-align: center;
    margin-bottom: 100px;
}
.curriculum-card {
    box-shadow: 0 0 29px 0.94px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.curriculum-card-img {
    padding: 70px 0 40px 0;
    border-radius: 20px;
    margin-bottom: 20px;
}
.curriculum-card-text {
    padding: 10px 54px;
    background-color: #fff;
}
.curriculum-card-text h3 {
    font-size: 2rem;
    font-weight: 800;
}
.curriculum-card-text p {
    color: #808080;
    font-size: 1.25rem;
    margin: 40px 0;
    line-height: 30px;
}
.curriculum-card-text button {
    background-color: #fff;
    border: none;
    font-size: 1.3rem;
    margin-bottom: 80px;
}
.round-btn {
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 100px;
}
.round-btn-first, .round-btn-second {
    width: 50px;
    height: 50px;
    background-color: #FEA301;
    border-radius: 50%;
    text-align: center;
}
.round-btn-first i, .round-btn-second i {
    margin-top: 14px;
    font-size: 1.5rem;
    color: #fff;
}

/* footer */
footer {
    background-color: #01ACFD;
    height: 520px;
    padding-top: 125px;
}
footer section {
    width: 90%;
    margin: 0 auto;
    color: #fff;
    justify-content: space-evenly;
}
.footer-text {
    width: 500px;
    /* margin-right: 140px; */
}
.footer-text-header h2 {
    font-size: 2.4rem;
    font-weight: 800;
}
.footer-text p {
    font-size: 1.2rem;
    margin-top: 30px;
}
.footer-title {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 25px;
}
.footer-menu-links li {
    list-style-type: none;
    margin-bottom: 30px;
}
.footer-menu-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}












/* Responsive CSS */
@media screen and (max-width:580px) {
    html {
        font-size: 12px;
    }
    #banner-section, .curriculum, .footer-section{
        width: 355px;
        margin: 0 auto;
    }


    .nav-logo h3, .nav-menu, .nav-btn {
        display: none;
    }
    .nav-icon {
        display: block;
    }
    .nav-icon i {
        font-size: 42px;
    }
    #nav-section {
        margin: 0;
        padding: 18px 25px;
        border: 1px solid #FEA301;
    }
    #banner-section {
        flex-direction: column-reverse;
        text-align: center;
        
    }
    .banner-img img {
        margin-top: 18px;
        max-width: 100%;
        margin-bottom: 10px;
    } 
    .banner-text h3 {
        font-size: 3rem;
    }
    .curriculum-cards {
        margin-top: 10px;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .curriculum h2 {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .curriculum-card-text {
        padding: 10px 30px;
    }
    .round-btn {
        display: none;
    }
    footer {
        height: 640px;
        padding-top: 60px;
    }
    footer section {
        flex-direction: column;
        justify-content: flex-start;
        
    }
    .footer-text {
        margin: 0;
        width: 340px;
        margin-bottom: 20px;
    }
    .footer-text p {
        line-height: 20px;
    }
    .footer-menu-links li {
        margin-bottom: 20px;
    }
}